menu.dtd

<!ELEMENT menu (meal, beverage)>

<!ELEMENT meal (item+)>
<!ELEMENT beverage (coffeeAndHotChocolate, other)>

<!ELEMENT item (name?, price, description?, image?)>
<!ELEMENT coffeeAndHotChocolate (item+)>
<!ELEMENT other (item+)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT size (#PCDATA)>
